@page
@model SmartCooking.Web.Pages.Recipe.SearchResultModel
@{
	ViewData["Title"] = "Search Result";
	Layout = "~/Theme/TasteIt/Page.cshtml";
}

<div class="row">

		@foreach (var ordering in Model.RecipeCountViewModel.RecipeHeaderCounts.OrderByDescending(x => x.Count))
		{
			@foreach (var recipe in Model.RecipeCountViewModel?.RecipeHeaders.Where(x => x.Id == ordering.Key))
			{
				<div class="col-sm-3 mb-2">
					<div class="card">
						<img src="@Html.ConvertImageToHtml(Model.RecipeImages?.FirstOrDefault(x=>x.RecipeId == recipe.Id))" alt="@recipe.Name" style="width: 100%; height: 180px;"/>
						<div class="card-body">
							<div class="card-title">@recipe.Name</div>
							<a href="@Url.Content($"~/Home/RecipeDetail/{recipe.Id}")" class="btn btn-primary">Περισσότερες πληροφορίες</a>
							<div class="text-center">
								Είδη που βρέθηκαν: @ordering.Count
							</div>
						</div>
					</div>
				</div>
			}
		}



	</div>
