<!DOCTYPE html>
<html lang="el">
<head>
    <title>Smart Cooking - Ο έξυπνος τρόπος για να τρως</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/theme/css/animate.css">
    <link rel="stylesheet" href="~/theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/theme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/theme/css/magnific-popup.css">
    <link rel="stylesheet" href="~/theme/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/theme/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/theme/css/flaticon.css">
    <link rel="stylesheet" href="~/theme/css/style.css">
</head>
<body>

    <div class="wrap">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4 col-md d-flex align-items-center">
                    @if (Convert.ToInt32(ViewData["IsLogged"]) == 1)
                    {
                        <p class="mb-0 phone"><strong>Συνδεδεμένος Χρήστης:</strong> @ViewData["Username"]</p>

                    }
                </div>
                <div class="col-4 col-md d-flex justify-content-md-center">
                    <div class="social-media">
                        <p class="mb-0 d-flex align-items-center justify-content-center">
                            <a href="https://www.facebook.com/SmartCooking-107055567925547" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="https://twitter.com/smartcooking7" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="https://www.instagram.com/smart_cooking26/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        </p>
                    </div>
                </div>

                <div class="col-4 col-md d-flex align-items-center justify-content-end">
                    @if (Convert.ToInt32(ViewData["IsLogged"]) != 1)
                    {
                        <a href="@Url.Content("~/Account/Login")" class="d-flex align-items-center justify-content-center mr-2"><span style="color: white;">Σύνδεση</span></a>
                        <a href="@Url.Content("~/Account/Register")" class="d-flex align-items-center justify-content-center mr-2"><span style="color: white;">Εγγραφή</span></a>
                    }
                    else
                    {
                        if (Convert.ToInt32(ViewData["IsAdmin"]) == 1)
                        {
                            <a href="@Url.Content("~/Admin/Index")" class="d-flex align-items-center justify-content-center mr-2"><span style="color: white;">Πίνακας Ελέγχου</span></a>
                        }
                        else
                        {
                            <a href="@Url.Content("~/Account/Edit")" class="d-flex align-items-center justify-content-center mr-2"><span style="color: white;">Ρυθμίσεις</span></a>
                        }

                        <a href="@Url.Content("~/Account/Logout")" class="d-flex align-items-center justify-content-center mr-2"><span style="color: white;">Έξοδος</span></a>
                    }
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Content("~/Home/Index")">Smart<span>Cooking</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Content("~/Home/Index")" class="nav-link">Αρχική Σελίδα</a></li>
                    <li class="nav-item">
                        <a href="@Url.Content("~/Home/RecipeList")" class="nav-link">Κατάλογος Συνταγών</a>
                    </li>
                    @*<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="chef.html" class="nav-link">Chef</a></li>
                        <li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li>
                        <li class="nav-item"><a href="reservation.html" class="nav-link">Reservation</a></li>
                        <li class="nav-item active"><a href="blog.html" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2 bg-5" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate text-center mb-5">
                    <h1 class="mb-2 bread">Blog</h1>
                    <p class="breadcrumbs"><span class="mr-2"><span>@ViewData["Title"]</span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <footer class="ftco-footer ftco-no-pb ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Smart Cooking</h2>
                        <p>Δεν μπορεί κάποιος να σκεφτεί καλά, να αγαπήσει καλά, να κοιμηθεί καλά, αν δεν έχει φάει καλά.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="https://twitter.com/smartcooking7"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/SmartCooking-107055567925547"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/smart_cooking26/"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Open Hours</h2>
                        <ul class="list-unstyled open-hours">
                            <li class="d-flex"><span>Δευτέρα</span><span>9:00 - 24:00</span></li>
                            <li class="d-flex"><span>Τρίτη</span><span>9:00 - 24:00</span></li>
                            <li class="d-flex"><span>Τετάρτη</span><span>9:00 - 24:00</span></li>
                            <li class="d-flex"><span>Πέμπτη</span><span>9:00 - 24:00</span></li>
                            <li class="d-flex"><span>Παρασκευή</span><span>9:00 - 02:00</span></li>
                            <li class="d-flex"><span>Σάββατο</span><span>9:00 - 02:00</span></li>
                            <li class="d-flex"><span>Κυριακή</span><span> Closed</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Instagram</h2>
                        <div class="thumb d-sm-flex">
                            <a href="https://www.instagram.com/smart_cooking26/" class="thumb-menu img" style="background-image: url(@Url.Content("~/theme/images/insta-1.jpg"));">
                            </a>
                            <a href="https://www.instagram.com/smart_cooking26/" class="thumb-menu img" style="background-image: url(@Url.Content("~/theme/images/insta-2.jpg"));">
                            </a>
                            <a href="https://www.instagram.com/smart_cooking26/" class="thumb-menu img" style="background-image: url(@Url.Content("~/theme/images/insta-3.jpg"));">
                            </a>
                        </div>
                        <div class="thumb d-flex">
                            <a href="https://www.instagram.com/smart_cooking26/" class="thumb-menu img" style="background-image: url(@Url.Content("~/theme/images/insta-4.jpg"));">
                            </a>
                            <a href="https://www.instagram.com/smart_cooking26/" class="thumb-menu img" style="background-image: url(@Url.Content("~/theme/images/insta-5.jpg"));">
                            </a>
                            <a href="https://www.instagram.com/smart_cooking26/" class="thumb-menu img" style="background-image: url(@Url.Content("~/theme/images/insta-6.jpg"));">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Newsletter</h2>
                        <p>Μάθε τις καλύτερες συνταγές και όλα τα νέα μας.</p>
                        <form action="#" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="form-control submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0 bg-primary py-3">
            <div class="row no-gutters">
                <div class="col-md-12 text-center">

                    <p class="mb-0">

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved </a>

                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/theme/js/jquery.min.js"></script>
    <script src="~/theme/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/theme/js/popper.min.js"></script>
    <script src="~/theme/js/bootstrap.min.js"></script>
    <script src="~/theme/js/jquery.easing.1.3.js"></script>
    <script src="~/theme/js/jquery.waypoints.min.js"></script>
    <script src="~/theme/js/jquery.stellar.min.js"></script>
    <script src="~/theme/js/owl.carousel.min.js"></script>
    <script src="~/theme/js/jquery.magnific-popup.min.js"></script>
    <script src="~/theme/js/jquery.animateNumber.min.js"></script>
    <script src="~/theme/js/bootstrap-datepicker.js"></script>
    <script src="~/theme/js/jquery.timepicker.min.js"></script>
    <script src="~/theme/js/scrollax.min.js"></script>
    <script src="~/theme/js/google-map.js"></script>
    <script src="~/theme/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>