@page
@model SmartCooking.Web.Pages.Admin.DraftRecipeListModel
@{
	Layout = "~/Theme/SBAdmin/Main.cshtml";
}

<div class="card mb-5">
	<div class="card-content">
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Περιγραφή</th>
						<th>Ενέργειες</th>
					</tr>
				</thead>
				<tbody>
					@Html.AntiForgeryToken()
					@foreach (var recipe in Model.Recipes)
					{
						<tr>
							<td>@recipe.Id</td>
							<td>@recipe.Name</td>
							<td>
								<div class="d-flex">
									<a href="@Url.Content($"~/Admin/RecipeEdit/{recipe.Id}")" class="btn btn-link"><i class="far fa-edit" title="Επεξεργασία"></i></a>
									<form method="post" asp-page-handler="delete" asp-route-recipeId="@recipe.Id">
										<button class="btn btn-link">
											<i class="far fa-trash-alt" title="Διαγραφή"></i>
										</button>
									</form>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>