@page "{draftHeaderId:int?}"
@model SmartCooking.Web.Pages.Admin.RecipeEditModel
@{
	Layout = "~/Theme/SBAdmin/Main.cshtml";
}


<div class="card mb-5">
	<div class="card-content">
		<div class="card-body">
			<button class="btn btn-success btn-lg" id="recipeSubmit">
				ΑΠΟΘΗΚΕΥΣΗ
			</button>
		</div>
	</div>
</div>

@if (Model.HasError)
{
	<div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
		<strong>@ViewData["Error"]</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

<form id="recipeForm" method="post">
	<div class="card mb-2">
		<div class="card-content">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="lead">Περιγραφή Συνταγής</label>
							<input type="text" asp-for="RecipeHeader.Name" class="form-control" />
							<input type="hidden" asp-for="RecipeHeader.Id"/>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="lead">Κωδικός Συνταγής</label>
							<input type="text" class="form-control" asp-for="RecipeHeader.Code" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label class="lead">Σύντομη Περιγραφή Συνταγής</label>
						<textarea rows="5" class="form-control" asp-for="RecipeHeader.Description"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label class="lead">Ετικέτες</label>
						<input type="text" class="form-control" asp-for="RecipeHeader.Tags" />
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


<div class="card mb-2">
	<div class="card-content">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-info" id="btnRecipeItemAdd">
						Προσθήκη είδους στη συνταγή
					</button>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="card mb-2">
	<div class="card-content">
		<div class="card-body">
			<table class="table" id="recipe-detail-rows">
				<thead>
					<tr>
						<th>Α/Α</th>
						<th>Περιγραφή Είδους</th>
						<th>Μονάδα Μέτρησης</th>
						<th>Ποσότητα</th>
						<th>Ενέργειες</th>
					</tr>
				</thead>
				<tbody>
					@{
						int aa = 1;
					}
					@foreach (var recipeDetail in Model.RecipeDetails)
					{
						<tr>
							<td>@aa</td>
							<td>@recipeDetail.Item.Name</td>
							<td>@recipeDetail.Unit.Name</td>
							<td>@recipeDetail.Quantity</td>
							<td></td>
						</tr>
						{ aa += 1; }
					}
				</tbody>
			</table>
		</div>
	</div>
</div>


@section modals{
	<div class="modal fade" id="AddRecipeItemModal" tabindex="-1" role="dialog" aria-labelledby="AddRecipeItemModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5>Προσθήκη Είδους</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="lead">Είδος</label>
								<input type="text" class="form-control" id="itemsList" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="lead">Μονάδα Μέτρησης</label>
								<input type="text" class="form-control" id="unitList" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="lead">Ποσότητα</label>
								<input type="text" class="form-control" id="item-qty" />
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="add-item-to-recipe">Προσθήκη</button>
				</div>
			</div>
		</div>
	</div>
}


@section scripts{
	<script>
		$(document).ready(function () {
			$("#recipeSubmit").click(function (e) {
				$("#recipeForm").submit();
			})

			$("#btnRecipeItemAdd").click(function (e) {
				e.preventDefault();
				$("#AddRecipeItemModal").modal('show');
			});

			$("#itemsList").autocomplete({
				source: '@Url.Page("RecipeCreate", "SearchItem")'
			});

			$("#unitList").autocomplete({
				source: '@Url.Page("RecipeCreate", "SearchUnit")'
			});

			$("#add-item-to-recipe").click(function (e) {
				e.preventDefault();

				var itemName = $("#itemsList").val();
				var unitName = $("#unitList").val();
				var qty = $("#item-qty").val();

				$.ajax({
					url: '@Url.Page("RecipeCreate", "AddToList")&itemName=' + itemName + '&unitName=' + unitName + '&qty=' + qty + '&recipeId=@Model.DraftRecipeHeaderId',
					type: 'get',
					contentType: 'application/json; chartset=utf-8',
					dataType: "json",
					success: function (response) {
						if (response.result) {
							Swal.fire({
								title: 'Επιτυχής εισαγωγή είδους',
								icon: 'success'
							});

							var row = '';
							row += '<tr>';
							row += '<td></td>';
							row += '<td>' + itemName + '</td>';
							row += '<td>' + unitName + '</td>';
							row += '<td>' + qty + '</td>';
							row += '<td></td>';
							row += '</tr>';
							$("#recipe-detail-rows tbody").append(row);
						}
						else {
							Swal.fire({
								title: 'Υπήρξε ένα σφάλμα κατά την εισαγωγή. Προσπαθήστε ξανά',
								text: response.message,
								icon: 'error'
							});
						}
					},
					error: function (err) {
						console.error(err);
					}
				})
			});
		});
	</script>
}