@page "{draftHeaderId:int?}"
@model SmartCooking.Web.Pages.Admin.RecipeCreateModel
@{
	Layout = "~/Theme/SBAdmin/Main.cshtml";
	ViewData["PageTitle"] = "Δημιουργία Συνταγής";
	ViewData["Breadcrumb"] = "Συνταγή / Δημιουργία Συνταγής";
}

<div class="card mb-5">
	<div class="card-content">
		<div class="card-body">
			<button class="btn btn-warning">
				<i class='bx bx-left-arrow-circle' id="recipeBack"></i> ΠΙΣΩ
			</button>
			<button class="btn btn-success" id="recipeSubmit">
				<i class="fas fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ
			</button>
		</div>
	</div>
</div>

@if (Model.HasError)
{
	<div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
		<strong>@ViewData["Error"]</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

<form id="recipeForm" method="post">
	<div class="card mb-2">
		<div class="card-content">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="lead">Περιγραφή Συνταγής</label>
							<input type="text" asp-for="RecipeHeader.Name" class="form-control" />
							<input type="hidden" asp-for="RecipeHeader.Id" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="lead">Κωδικός Συνταγής</label>
							<input type="text" class="form-control" asp-for="RecipeHeader.Code" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label class="lead">Σύντομη Περιγραφή Συνταγής</label>
						<textarea rows="5" class="form-control" asp-for="RecipeHeader.Description"></textarea>
						<em>Το παραπάνω πεδίο υποστηρίζει Markdown. <a href="https://commonmark.org/help/" target="_blank">Περισσότερες πληροφορίες</a></em>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label class="lead">Ετικέτες</label>
						<input type="text" class="form-control" asp-for="RecipeHeader.Tags" />
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="card mb-2">
	<div class="card-content">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-info" id="btnRecipeItemAdd">
						Προσθήκη είδους στη συνταγή
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card mb-2">
	<div class="card-content">
		<div class="card-body">
			<table class="table" id="recipe-detail-rows">
				<thead>
					<tr>
						<th>Α/Α</th>
						<th>Περιγραφή Είδους</th>
						<th>Μονάδα Μέτρησης</th>
						<th>Ποσότητα</th>
						<th>Ενέργειες</th>
					</tr>
				</thead>
				<tbody>
					@{
						int aa = 0;
					}
					@foreach (var recipeDetail in Model.RecipeDetails)
					{
						{ aa += 1; }
						<tr>
							<td>@aa</td>
							<td class="item-@recipeDetail.Id">@recipeDetail.Item.Name</td>
							<td class="unit-@recipeDetail.Id">@recipeDetail.Unit.Name</td>
							<td class="qty-@recipeDetail.Id">@recipeDetail.Quantity</td>
							<td>
								<button class="btn btn-link edit-item-from-recipe" data-value-id="@recipeDetail.Id"><i class="fas fa-edit" title="Επεξεργασία"></i></button>
								<button class="btn btn-link delete-item-from-recipe" data-value-id="@recipeDetail.Id">
									<i class="far fa-trash-alt" title="Διαγραφή"></i>
								</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="card mb-2">
	<div class="card-content">
		<div class="card-body">
			<label class="lead">Ανέβασμα φωτογραφίων</label>
			<hr />

			<form action="@Url.Content($"~/api/Recipe/UploadRecipeImage")"
				  class="dropzone"
				  id="my-awesome-dropzone">
				<input type="hidden" name="recipeId" asp-for="RecipeHeader.Id" />

			</form>
			<div class="row mt-5">
				<div class="col-sm-3">
					<h3>Εικόνα προφίλ</h3>
					<hr />
					<img src="@Html.ConvertImageToHtml(Model.RecipeImages.FirstOrDefault(x=>x.ProfileImage))" alt="@Model.RecipeImages.FirstOrDefault(x=>x.ProfileImage)?.FileName" style="width: 100%" />
				</div>
				<div class="col-sm-9">
					<h3>Γκαλερή φωτογραφίων</h3>
					<hr />
					<div class="owl-carousel ">
						@foreach (var image in Model.RecipeImages)
						{
							<div class="item">
								<a class="item-modal" data-recipeId="@image.RecipeId" data-imgId="@image.Id">
									<img src="@Html.Raw($"data:{image.ContentType};charset=utf-8;base64,{image.ContentValue}")" alt="@image.FileName" />
								</a>
							</div>
						}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

@section modals{
	<div class="modal fade" id="AddRecipeItemModal" tabindex="-1" role="dialog" aria-labelledby="AddRecipeItemModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5>Προσθήκη Είδους</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="lead">Είδος</label>
								<input type="text" class="form-control itemsList" id="addItem" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="lead">Μονάδα Μέτρησης</label>
								<input type="text" class="form-control unitList" id="addUnit" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="lead">Ποσότητα</label>
								<input type="text" class="form-control item-qty" id="addQty" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="add-item-to-recipe">Προσθήκη</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="EditRecipeItemModal" tabindex="-1" role="dialog" aria-labelledby="AddRecipeItemModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5>Επεξεργασία Είδους</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="lead">Είδος</label>
								<input type="text" class="form-control itemsList" id="editItem" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="lead">Μονάδα Μέτρησης</label>
								<input type="text" class="form-control unitList" id="editUnit" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="lead">Ποσότητα</label>
								<input type="text" class="form-control item-qty" id="editQty" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="edit-recipe-item">Αλλαγή</button>
					<input type="hidden" id="editRecipeDetailId" />
				</div>
			</div>
		</div>
	</div>
}

@section scripts{
	<script>
		$(document).ready(function () {

			$(".owl-carousel").owlCarousel({
				loop: true,
				center: false,
				autoWidth: false,
				stagePadding: 50,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 3,
						nav: false
					},
					1000: {
						items: 5,
						nav: true,
						loop: false
					}
				},
				afterUpdate: function () {
					updateSize();
				},
				afterInit: function () {
					updateSize();
				}
			});

			function updateSize() {
				var minHeight = parseInt($('.owl-item').eq(0).css('height'));
				$('.owl-item').each(function () {
					var thisHeight = parseInt($(this).css('height'));
					minHeight = (minHeight <= thisHeight ? minHeight : thisHeight);
				});
				$('.owl-wrapper-outer').css('height', minHeight + 'px');
			}

			$(".item-modal").click(function (e) {

				Swal.fire({
					title: '<strong>Ενέργειες</strong>',
					icon: 'info',
					html:
						'<div class="row text-center">' +
						'<div class="col-sm-12 text-center">' +
						'<button class="btn btn-info mr-2 set-profile-image" data-recipeId="' + $(this).attr("data-recipeId") + '" data-imgId="' + $(this).attr("data-imgId") + '">Ορισμός ως Φωτογραφία προφίλ</button>' +
						'<button class="btn btn-danger delete-recipe-image" data-imgId="' + $(this).attr("data-imgId") + '">Διαγραφή</button>' +
						'</div>' +
						'</div>',
					showCloseButton: true,
					showCancelButton: true,
					showConfirmButton: false,
					focusConfirm: false,
					cancelButtonText:
						'Ακύρωση',
					cancelButtonAriaLabel: 'Ακύρωση'
				})
			});

			$("#btnRecipeItemAdd").click(function (e) {
				e.preventDefault();
				$("#AddRecipeItemModal").modal('show');
			});

			$(".itemsList").autocomplete({
				source: '@Url.Content("~/api/Item/SearchItemByName")'
			});

			$(".unitList").autocomplete({
				source: '@Url.Content("~/api/Unit/SearchUnitByName")'
			});

			$("#recipeSubmit").click(function (e) {
				e.preventDefault();
				$("#recipeForm").submit();
			})

			$("#add-item-to-recipe").click(function (e) {
				e.preventDefault();

				var itemName = $("#addItem").val();
				var unitName = $("#addUnit").val();
				var qty = $("#addQty").val();

				$.ajax({
					url: '@Url.Page("RecipeCreate", "AddToList")&itemName=' + itemName + '&unitName=' + unitName + '&qty=' + qty + '&recipeId=@Model.DraftRecipeHeaderId',
					type: 'get',
					contentType: 'application/json; chartset=utf-8',
					dataType: "json",
					success: function (response) {
						if (response.result) {
							Swal.fire({
								title: 'Επιτυχής εισαγωγή είδους',
								icon: 'success'
							});

							var row = '';
							row += '<tr>';
							row += '<td>@(aa += 1)</td>';
							row += '<td class="item-' + response.entityId + '">' + itemName + '</td>';
							row += '<td class="unit-' + response.entityId + '">' + unitName + '</td>';
							row += '<td class="qty-' + response.entityId + '">' + qty + '</td>';
							row += '<td><button class="btn btn-link edit-item-from-recipe" data-value-id="' + response.entityId + '"><i class="fas fa-edit" title="Επεξεργασία"></i></button> <button class="btn btn-link delete-item-from-recipe" data-value-id="' + response.entityId + '"><i class="far fa-trash-alt" title="Διαγραφή"></i></button></td>';
							row += '</tr>';
							$("#recipe-detail-rows tbody").append(row);
						}
						else {
							Swal.fire({
								title: 'Υπήρξε ένα σφάλμα κατά την εισαγωγή. Προσπαθήστε ξανά',
								text: response.message,
								icon: 'error'
							});
						}
					},
					error: function (err) {
						console.error(err);
					}
				})
			});

			$("#edit-recipe-item").click(function (e) {
				e.preventDefault

				var itemName = $("#editItem").val();
				var unitName = $("#editUnit").val();
				var qty = $("#editQty").val();
				var recipeDetailId = $("#editRecipeDetailId").val();

				var sender = {
					itemName: itemName,
					unitName: unitName,
					qty: qty,
					recipeDetailId: recipeDetailId
				}

				$.ajax({
					url: '@Url.Content("~/api/Recipe/EditRecipeItem")',
					type: 'post',
					contentType: 'application/json; charset=utf-8',
					data: JSON.stringify(sender),
					success: function (response) {
						if (response.result) {
							Swal.fire({
								title: "Επιτυχία",
								text: response.message,
								icon: 'success'
							}).then(function (response) {
								location.reload();
							});
						}
						else {
							Swal.file({
								title: "Σφάλμα",
								text: response.message,
								icon: 'error'
							});
						}

					},
					error: function (err) {
						console.error(err);
					}

				});

			});

			$(document).on('click', '.delete-item-from-recipe', function () {

				var recipeDetailId = $(this).attr("data-value-id");

				$.ajax({
					url: '@Url.Content("~/api/Recipe/DeleteDetailItem")',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					data: JSON.stringify(recipeDetailId),
					success: function (response) {
						if (response.result) {
							Swal.fire({
								title: "Επιτυχία!",
								text: response.message,
								icon: 'success'
							}).then(function (response) {
								if (response.value) {
									location.reload();
								}
							});
						}
						else {
							Swal.fire({
								title: "Σφάλμα",
								text: response.message,
								icon: 'error'
							});
						}
					},
					error: function (err) {
						console.error(err);
					}
				});
			});

			$(document).on('click', '.edit-item-from-recipe', function () {
				var recipeDetailId = $(this).attr("data-value-id");
				var itemName = $(".item-" + recipeDetailId).html();
				var unitName = $(".unit-" + recipeDetailId).html();
				var qty = $(".qty-" + recipeDetailId).html();

				$("#editItem").val(itemName);
				$("#editUnit").val(unitName);
				$("#editQty").val(qty);
				$("#editRecipeDetailId").val(recipeDetailId);



				$("#EditRecipeItemModal").modal("show");
			});

			$("#recipeBack").click(function (e) {
				e.preventDefault();

				Swal.fire({
					title: 'Είσαι βέβαιος;',
					text: 'Οι αλλαγές δεν θα αποθηκευτούν. Είσαι σύμφωνος με αυτό;',
					icon: 'warning',
					showCloseButton: true,
					showCancelButton: true,
					confirmButtonText: 'Επιβεβαίωση',
					cancelButtonText: 'Ακύρωση'
				}).then(result => {
					if (result.isConfirmed) {
						location.href = '@Url.Content($"~/Admin/RecipeList")';
					}
				});
			});

			$(document).on("click", ".set-profile-image", function (e) {
				var recipeId = $(this).attr("data-recipeId");
				var imgId = $(this).attr("data-imgId");

				$.ajax({
					url: '@Url.Content($"~/api/Recipe/UpdateImageProfile")',
					type: 'post',
					contentType: 'application/json; charset=utf-8',
					data: JSON.stringify({ RecipeId: recipeId, ImageId: imgId }),
					success: function (response) {
						if (response.result) {
							location.reload();
						}
						else {
							Swal.fire({
								title: 'Σφάλμα',
								text: response.message,
								icon: 'error'
							});
						}
					},
					error: function (err) {
						console.error(err);
					}
				});
			});

			$(document).on("click", ".delete-recipe-image", function (e) {
				var imgId = $(this).attr("data-imgId");

				$.ajax({
					url: '@Url.Content($"~/api/Recipe/DeleteRecipeImage")',
					type: 'post',
					contentType: 'application/json; charset=utf-8',
					data: JSON.stringify(imgId),
					success: function (response) {
						if (response.result) {
							location.reload();
						}
						else {
							Swal.fire({
								title: 'Σφάλμα',
								text: response.message,
								icon: 'error'
							});
						}
					},
					error: function (err) {
						console.error(err);
					}
				});
			});

		});
	</script>
}